@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
 
  font-family: 'Poppins', sans-serif;
  
}

::-webkit-scrollbar{
	width:10px;
  }
  ::-webkit-scrollbar-track{
	background-color: #111827;
  }
  ::-webkit-scrollbar-thumb{
	background-color:#ffffff;
	border-radius: 90px;
  }
  
 
body{
  background-color: aliceblue;
  letter-spacing: 2px;
}

#main h1{
  font-size: 2.3rem;
  letter-spacing: 3px;
  font-weight: 500;
  color:rgb(83, 255, 198)
 
}

@media screen and (max-width: 500px) {
	*{
		font-size: 9px;
	}

	#main{
		max-width: 90vw;
	}
	#main h1{
		font-size: 2.4rem;
	}
	.inp-box{
		height: 20vh;
	}
	p{
		font-size: 2rem;
	}
}
